{% extends "layout.njk" %}

{% block head %}
    <title>{{item.id}} - ROCKETSEAT</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="course.css">
{% endblock %}

{% block content %}


    <section class="courses">

            <div class="course" id="{{item.id}}">
               <div class="course-logo">
                <img src="{{item.img}}" alt="Curso">
            </div>
            <div class="course-description">
                <p>{{item.description}}</p>
            </div>
            <div class="course-information">
                <p class="course-duration">{{item.duration}}</p>
                <p class="course-price">{{item.price}}</p>
            </div>
            </div>
        
    </section>

    <script src="/course.js"></script>


{% endblock %}