{% extends "layout.njk" %}

{% block head %}
    <title>Not-found - ROCKETSEAT</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="not-found.css">
{% endblock %}

{% block content %}
    <div class="mensage">
        <div class="not-found">
            <p>Error</p>
            <div class="e404">
                <p>404</p>
            </div>
            <p>Not found</p>
        </div>
    </div>
{% endblock %}